.AppFirst {
  text-align: center;
  color: whitesmoke;
  font-family: "Quintessential", cursive;
  background-color: rgb(5, 5, 16);
  margin: 20px;
}
.App {
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #d0ff14;
  margin: 40px;
  padding: 15px;
  justify-content: space-evenly;
}
.cardtextcenter {
  background-color: beige;
  border-radius: 5px;
}
.cardtextcenter:hover {
  box-shadow: 2px 2px 4px 4px #b0bf1a;
}
.card-body {
  margin: 16px;
}
.button {
  text-align: center;
}
.align {
  text-align: left;
}
